.container {
    margin: auto;
    padding: 50px;
    align-items: center;
    width: 50%;
    min-width: 200px;
    max-width: 600px;
    text-align: center;
    color: #272727;
}
#playback {
    cursor: pointer;
    height: 22px;
}